#headshot {
	border-radius: 50%;
	height: 308px;
}

@media (min-width: 768px) {
	header.masthead {
	    padding-top: 174px;
	    padding-bottom: 100px;
	}
}

hr.star-light:after, hr.star-primary:after {
	content: none;
}

header.masthead {
	background: url("../img/mountains.jpg") no-repeat center center fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-height: 200px;*/
	/*background-size: 1424px;*/
}

section {
	padding: 70px 0;
}

section.success {
	background: #404040;
}

section#portfolio {
	padding-top: 29px;
	padding-bottom: 0px;
}

section#contact {
	padding-top: 33px;
}

* {
	font-family: 'Quicksand', sans-serif;
}

.myimages {
	/*height: 253px;*/
}

.projecttitles {
	margin-top: 6px;
}